/* universal styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header (high scores link and timer) */
header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.high-scores {
    color: #3F979B;
    font-display: none;
}

#overall-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 800px;
    padding: 30px;
}

#questions-box {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding: 30px;
    border-bottom: solid 3px black;
}

#intro {
    padding: 30px;
    font-size: 35px;
    text-align: center;
}

#start-btn {
    width: 160px;
    height: 60px;
    margin: auto;
    font-size: 25px;
    background-color: #3F979B;
    color: white;
    border-radius: 12px;
    border: none;
}

#start-btn:hover {
    background-color: #205E61;
}

.option {
    width: 200px;
    height: 70px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 22px;
    text-align: left;
    background-color: #205E61;
    color: white;
    border-radius: 12px;
    border: none;
}

.option:hover {
    background-color: #3F979B;
}

#wrong-right-box {
    color: gray;
    font-size: 25px;
    font-style: italic;
}



